# Connection configuration
controlConnectionDescription=jdbc:mysql://host.com/db
username=username that can access database above
password=***
serverId=ID of the server from Poseidon UI or psd_server table

# Email configuration
mail.smtp.host=smtp
fromEmailAddress=monitoring-database@host.com

# Secret to decrypt target passwords. 
# Must match config.secret in config/application.rb in Poseidon UI
decryptionSecret=m0nitr$this
