<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.untd.database.poseidon.data.ScriptMapper" >
  <resultMap id="BaseResultMap" type="com.untd.database.poseidon.data.Script" >
    <id column="script_id" property="scriptId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="schedule_min" property="scheduleMin" jdbcType="VARCHAR" />
    <result column="schedule_hour" property="scheduleHour" jdbcType="VARCHAR" />
    <result column="schedule_day" property="scheduleDay" jdbcType="VARCHAR" />
    <result column="schedule_month" property="scheduleMonth" jdbcType="VARCHAR" />
    <result column="schedule_week" property="scheduleWeek" jdbcType="VARCHAR" />
    <result column="query_type" property="queryType" jdbcType="INTEGER" />
    <result column="timeout_sec" property="timeoutSec" jdbcType="INTEGER" />
    <result column="fixed_severity" property="fixedSeverity" jdbcType="INTEGER" />
    <result column="severity_column_position" property="severityColumnPosition" jdbcType="INTEGER" />
    <result column="value_med_severity" property="valueMedSeverity" jdbcType="INTEGER" />
    <result column="value_high_severity" property="valueHighSeverity" jdbcType="INTEGER" />
    <result column="message_format" property="messageFormat" jdbcType="INTEGER" />
    <result column="message_subject" property="messageSubject" jdbcType="VARCHAR" />
    <result column="status_code" property="statusCode" jdbcType="VARCHAR" />
    <result column="create_sysdate" property="createSysdate" jdbcType="TIMESTAMP" />
    <result column="update_sysdate" property="updateSysdate" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="query_text" property="queryText" jdbcType="LONGVARCHAR" />
    <result column="expression_text" property="expressionText" jdbcType="LONGVARCHAR" />
    <result column="message_header" property="messageHeader" jdbcType="LONGVARCHAR" />
    <result column="message_text_str" property="messageTextStr" jdbcType="LONGVARCHAR" />
    <result column="message_footer" property="messageFooter" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="GroupNotificationsResult" type="com.untd.database.poseidon.Notification" >
    <id column="notify_group_email_id" property="notifyGroupEmailId" jdbcType="INTEGER" />
    <result column="severity" property="severity" jdbcType="INTEGER" />
    <result column="email_address" property="emailAddress" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectGroupNotifications" resultMap="GroupNotificationsResult">
    select e.notify_group_email_id,e.severity,e.email_address 
    from psd_script_notification n, psd_notify_group g, psd_notify_group_email e 
    where n.script_id = #{scriptId}
    and n.notify_group_id = g.notify_group_id 
    and e.notify_group_id = g.notify_group_id
  </select>
  <select id="selectPersonNotifications" resultMap="GroupNotificationsResult">
    select n.email_address 
	from psd_script_person_notification n 
	where n.script_id = #{scriptId}
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select script_id, name, schedule_min, schedule_hour, schedule_day, schedule_month, 
    schedule_week, query_type, timeout_sec, fixed_severity, severity_column_position, 
    value_med_severity, value_high_severity, message_format, message_subject, status_code, 
    create_sysdate, update_sysdate, description, query_text, expression_text, message_header, 
    message_text_str, message_footer
    from psd_script
    where script_id = #{scriptId,jdbcType=INTEGER}
  </select>
  <select id="selectActive" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select script_id, name, schedule_min, schedule_hour, schedule_day, schedule_month, 
    schedule_week, query_type, timeout_sec, fixed_severity, severity_column_position, 
    value_med_severity, value_high_severity, message_format, message_subject, status_code, 
    create_sysdate, update_sysdate, description, query_text, expression_text, message_header, 
    message_text_str, message_footer
    from psd_script s
    where status_code = 'A'
    and 
    (
      exists ( 
        select ' ' from psd_script_target st, psd_target t 
        where st.script_id = s.script_id 
        and st.target_id = t.target_id 
        and t.server_id = #{serverId}
      ) 
      or 
      exists ( 
        select ' ' from psd_script_group sg, psd_target_group_assignment tg, psd_target t 
        where sg.script_id = s.script_id 
        and sg.target_group_id = tg.target_group_id 
        and tg.target_id = t.target_id 
        and t.server_id = #{serverId}
      ) 
    )
  </select>
  <select id="selectInactive" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select script_id, name, schedule_min, schedule_hour, schedule_day, schedule_month, 
    schedule_week, query_type, timeout_sec, fixed_severity, severity_column_position, 
    value_med_severity, value_high_severity, message_format, message_subject, status_code, 
    create_sysdate, update_sysdate, description, query_text, expression_text, message_header, 
    message_text_str, message_footer
    from psd_script s
    where status_code = 'I' 
    or 
    ( 
      status_code = 'A' 
      and 
      not exists ( 
        select ' ' from psd_script_target st, psd_target t 
        where st.script_id = s.script_id 
        and st.target_id = t.target_id 
        and t.server_id = #{serverId} 
      ) 
      and 
      not exists ( 
        select ' ' from psd_script_group sg, psd_target_group_assignment tg, psd_target t 
        where sg.script_id = s.script_id 
        and sg.target_group_id = tg.target_group_id 
        and tg.target_id = t.target_id 
        and t.server_id = #{serverId} 
      ) 
    ) 
  </select>  
</mapper>