<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.untd.database.poseidon.data.ScriptLogMapper" >
  <insert id="insert" parameterType="com.untd.database.poseidon.data.ScriptLog" 
                      useGeneratedKeys="true" keyProperty="scriptLogId">
    insert into psd_script_log (script_id, server_id, 
      start_date, finish_date, status_number, 
      error_status_code, trigger_status_code, create_sysdate, 
      update_sysdate)
    values (#{scriptId,jdbcType=INTEGER}, #{serverId,jdbcType=INTEGER}, 
      now(), null, #{statusNumber,jdbcType=INTEGER}, 
      0, 0, now(),now())
  </insert>
  <update id="update" parameterType="com.untd.database.poseidon.data.ScriptLog" >
    update psd_script_log
    set finish_date = now(),
      status_number = #{statusNumber,jdbcType=INTEGER},
      error_status_code = #{errorStatusCode,jdbcType=INTEGER},
      trigger_status_code = #{triggerStatusCode,jdbcType=INTEGER},
      update_sysdate = now()
    where script_log_id = #{scriptLogId,jdbcType=INTEGER}
  </update>
</mapper>