<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.untd.database.poseidon.data.ServerMapper" >  
  <update id="heartbeat" parameterType="java.lang.Integer" >
    update psd_server
    set heartbeat_sysdate = now()
    where server_id = #{serverId,jdbcType=INTEGER}
  </update>
</mapper>