<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.untd.database.poseidon.data.TargetMapper" >
  <resultMap id="BaseResultMap" type="com.untd.database.poseidon.data.Target" >
    <id column="target_id" property="targetId" jdbcType="INTEGER" />
    <result column="target_type_id" property="targetTypeId" jdbcType="INTEGER" />
    <result column="server_id" property="serverId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="hostname" property="hostname" jdbcType="VARCHAR" />
    <result column="database_name" property="databaseName" jdbcType="VARCHAR" />
    <result column="port_number" property="portNumber" jdbcType="INTEGER" />
    <result column="monitor_username" property="monitorUsername" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="monitor_password" property="monitorPassword" jdbcType="VARCHAR" />
    <result column="status_code" property="statusCode" jdbcType="VARCHAR" />
    <result column="inactive_until" property="inactiveUntil" jdbcType="TIMESTAMP" />
    <result column="create_sysdate" property="createSysdate" jdbcType="TIMESTAMP" />
    <result column="update_sysdate" property="updateSysdate" jdbcType="TIMESTAMP" />
    <result column="url_jdbc" property="urlJdbc" jdbcType="VARCHAR" />
  </resultMap>

  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select target_id, target_type_id, server_id, t.name, hostname, database_name, port_number, 
    monitor_username, salt, monitor_password, status_code, inactive_until, t.create_sysdate, 
    t.update_sysdate, tt.url_jdbc
    from psd_target t, psd_target_type tt
    where target_id = #{targetId,jdbcType=INTEGER}
    and t.target_type_id = tt.target_type_id
  </select>
  <select id="selectScriptTargets" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select t.target_id, t.target_type_id, t.server_id, t.name, t.hostname, t.database_name, t.port_number, 
    t.monitor_username, t.salt, t.monitor_password, t.status_code, t.inactive_until, t.create_sysdate, 
    t.update_sysdate, tt.url_jdbc
    from psd_target t, psd_target_type tt
    where t.target_type_id = tt.target_type_id
    and t.target_id in (
		select st.target_id 
		from psd_script_target st, psd_target t 
		where st.script_id = #{scriptId}
		and st.target_id = t.target_id 
		and t.status_code = 'A'
		
		union 
		
		select a.target_id 
		from psd_script_group sg, psd_target_group_assignment a, psd_target t 
		where sg.script_id = #{scriptId}
		and sg.target_group_id = a.target_group_id 
		and a.target_id = t.target_id 
		and t.status_code = 'A' 
		and a.status_code = 'A'
	)
  </select>
</mapper>