<!-- configuration file Poseidon logging -->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.untd.database.poseidon" level="WARN"/>

  <!-- Logging levels for external libraries -->
  <logger name="org.apache.commons.configuration" level="ERROR"/>
  <logger name="org.quartz" level="WARN"/>
  <logger name="org.apache.ibatis" level="WARN"/>

  <!-- Strictly speaking, the level attribute is not necessary since -->
  <!-- the level of the root level is set to DEBUG by default.       -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
